<div class="container" id="animal">
    <div class="cont-img">
        <img src="" alt="" id="img1" class="img-principal">
        <div class="cont-images">
            <img src="" alt="" id="img1" class="img-secondary">
            <img src="" alt="" id="img2" class="img-secondary">
            <img src="" alt="" id="img3" class="img-secondary">
            <img src="" alt="" id="img4" class="img-secondary">
        </div>
    </div>
    <div class="cont-info">
        <div class="group">
            <div class="name-animal">
                <h4 class="name titulos"></h4>
            </div>
        </div>
        <div class="group">
            <div class="item-animal">
                <label for="">Especie:</label>
                <p class="paragraph" id="especie"></p>
            </div>
            <div class="item-animal">
                <label for="">Raza:</label>
                <p class="paragraph" id="raza"></p>
            </div>
            <div class="item-animal">
                <label for="">Fecha nacimiento:</label>
                <p class="paragraph" id="fechanac"></p>
            </div>
            <div class="item-animal">
                <label for="">Sexo:</label>
                <p class="paragraph" id="sexo"></p>
            </div>
            <div class="item-animal">
                <label for="">Peso:</label>
                <p class="paragraph" id="peso"></p>
            </div>
            <div class="item-animal">
                <label for="">Altura:</label>
                <p class="paragraph" id="altura"></p>
            </div>
            <div class="item-animal">
                <label for="">Chip:</label>
                <p class="paragraph" id="chip"></p>
            </div>
            <div class="item-animal">
                <label for="">Color:</label>
                <p class="paragraph" id="color"></p>
            </div>
        </div>
        <div class="group">
            <div class="item-description">
                <label for="">Descripcion:</label>
                <p class="paragraph" id="descripcion"></p>
            </div>
        </div>
        <button class="btn btn-primary" id="adoptar">Adoptar</button>
    </div>
</div>
