<div class="solicitud" id="solicitud">
    <div class="title">
        <h4>Envío de solicitud</h4>
    </div>
    <div>
        <p class="pregunta">¿Porque quiere adoptar a tomy?</p>
    </div>
    <div class="container-description">
        <label for="Descripcion">Descripción <span class="requerido">*</span></label>
        <textarea name="" id="" cols="20" rows="5" class="descripcion"></textarea>
        <span class="errorSolicitud"></span>
    </div>
    <div class="container-button">
        <button class="enviarSolicitud btn btn-primary">Enviar</button>
    </div>
</div>