{% extends 'base.html.twig' %}

{% block nav %}
        {% include 'nav.html.twig'  %}
    {% endblock %}

{% block body %}

    <div class="main-cnt"> 

        <div class="container-animals">
             <div class="cont-animal">
        
             </div>
        </div>

        <div class="container-paginator">
            <div class="pagination">
            </div>
        </div>
    </div>

{% endblock %}
  {% block footer %}

        {% include 'footer.html.twig' %}

        <script src="{{ asset('estilos/assets/js/js/adoptionList.js') }}"></script>

   {% endblock %}