<!DOCTYPE html>
<html>
    {%include 'head.html.twig' %}

    <body>
       <div class="cabecera-pdf">
            <img src="assets/images/logo_white_large.png" alt="">
            <h1>Contrato de Adopción</h1>
        </div>
    </body>
</html>
