{% extends 'base.html.twig' %}

{% block nav %}
        {% include 'nav.html.twig'  %}
    {% endblock %}

{% block body %}

    <article class="container-gallery">
        <h1 class="titulos">Galería</h1>
            <section id="lightgallery">
                <a href="" id="foto1">
                    <img src="" class="foto1 animate__animated animate__fadeInTopLeft animate__delay-1s" />
                </a>
                <a href="" id="foto2">
                    <img src="" class="foto2 animate__animated animate__zoomInDown animate__delay-2s"/>
                </a>
                <a href="" id="foto3">
                    <img src="" class="foto3 animate__animated animate__fadeInTopRight animate__delay-1s" />
                </a>
                <a href="" id="foto4">
                    <img src="" class="foto4 animate__animated animate__lightSpeedInLeft animate__delay-1s"/>
                </a>
                <a href="" id="foto5">
                    <img src="" class="foto5 animate__animated animate__zoomInDown animate__delay-2s"/>
                </a>
                <a href="" id="foto6">
                    <img src="" class="foto6 animate__animated animate__lightSpeedInRight animate__delay-1s"/>
                </a>
                <a href="" id="foto7">
                    <img src="" class="foto7 animate__animated animate__fadeInBottomLeft animate__delay-1s"/>
                </a>
                <a href="" id="foto8">
                    <img src="" class="foto8 animate__animated animate__zoomInDown animate__delay-2s"/>
                </a>
                <a href="" id="foto9">
                    <img src="" class="foto9 animate__animated animate__fadeInBottomRight animate__delay-1s"/>
                </a>
            </section>

             <section class="container-paginator">
                <section class="pagination"></section>
             </section>
        </article>

    <script src="{{ asset('estilos/assets/js/plugins/lightgallery.min.js') }}"></script>

 {% endblock %}
  {% block footer %}
        {% include 'footer.html.twig' %}
        <script src="{{ asset('estilos/assets/js/js/gallery.js') }}"></script>
  {% endblock %}