<header> 
<!--== Start: Header Top ==-->
            <div class="header-bottom sticky-header">
                <div class="container-fluid header-container-fluid">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="/">
                                    {% if app.user %}
                                        <img class="logo-main logo" id="usu{{app.user.id}}" src="{{ asset('estilos/assets/images/logo.png') }}" width="108" height="38" alt="Logo" />
                                    {% else %}
                                        <img class="logo-main logo" id="usu" src="{{ asset('estilos/assets/images/logo.png') }}" width="108" height="38" alt="Logo" />
			                        {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <div class="header-navigation">
                                <ul class="main-nav justify-content-center">
                                    <li><a href="/">Inicio</a></li>
                                    <li><a href="/about">Acerca de</a></li>
                                    <!-- <li class="has-submenu"><a href="causes.html">Causes</a>
                <ul class="submenu-nav">
                  <li><a href="causes.html">Causes</a></li>
                  <li><a href="causes-details.html">Causes Details</a></li>
                </ul>
              </li> -->
                                    <li class="has-submenu"><a href="">Qué puedes hacer</a>
                                        <ul class="submenu-nav">
                                            <li><a href="/adoptionList">Adopta</a></li>
                                            <li><a href="causes-details.html">Donaciones</a></li>
                                            <li><a href="/reserve">Reserva de tareas</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-submenu"><a href="">Animales perdidos</a>
                                        <ul class="submenu-nav">
                                            <li><a href="/viewLostAnimal">Ver animales perdidos</a></li>
                                            <li><a href="/addLostAnimal">Subir mi mascota perdida</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="/gallery">Galería</a></li>

                                    <li><a href="/contact">Contacto</a></li>
                                    {% if app.user.roles[0]=='ROLE_ADMIN' %}
			                            <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
			                        {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto d-flex align-items-center gap-6 gap-lg-0">
                        {% if app.user %}
                            {% if app.user.photo %}
                                <img src="estilos/assets/images/users/{{app.user.photo}}" class="fotousu" alt="Imagen del usuario">
                                <div class="cont-icon">
                                    <a href="/logout" class="icon-logout"><i class="fas fa-person-running"></i></a>
                                    <a href="/editUser" class="icon-logout"><i class="fas fa-pen-to-square"></i></a>
                                </div>
                            {% else %}
                                <img src="estilos/assets/images/users/sinFoto.png" class="fotousu" alt="Imagen del usuario">
                                <div class="cont-icon">
                                    <a href="/logout" class="icon-logout"><i class="fas fa-person-running"></i></a>
                                    <a href="/editUser" class="icon-logout"><i class="fas fa-pen-to-square"></i></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-primary header-donate-btn" href="/login">Login</a>
                        {% endif %}
           
                            <button class="btn-menu d-flex d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h6 class="d-none" id="offcanvasExampleLabel">Aside Menu</h6>
                <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="icofont-rounded-left"></i></button>
            </div>
            <div class="offcanvas-body">
                <div class="mobile-menu-action">
                    <!-- Mobile Menu Start -->
                    <div class="mobile-menu-items">
                        <ul class="nav-menu">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/about">Acerca de</a></li>
                            <li><a href="#">Qué puedes hacer</a>
                                <ul class="sub-menu">
                                    <li><a href="/adoptionList">Adopta</a></li>
                                    <li><a href="causes-details.html">Donaciones</a></li>
                                    <li><a href="/reserve">Reserva de tareas</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Animales perdidos</a>
                                <ul class="sub-menu">
                                    <li><a href="/viewLostAnimal">Ver animales perdidos</a></li>
                                    <li><a href="/addLostAnimal">Subir mi mascota perdida</a></li>
                                </ul>
                            </li>
                            <li><a href="/gallery">Galería</a></li>
                            <li><a href="/contact">Contacto</a></li>
                            {% if app.user %}
                                <li><a href="/editUser" class="logout-mobile">Mi perfil</a></li>
                                <li><a href="/logout" class="logout-mobile">Cerrar Sesión</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- Mobile Menu End -->
                    <ul class="mobile-menu-info-list">
                        <li>
                            <i class="icon icofont-ui-call"></i>
                            <a href="tel://5123602763" class="">953 45 34 21</a>
                        </li>
                        <li>
                            <i class="icon icofont-envelope-open"></i>
                            <a href="mailto://support@gamil.com" class="">arcadejaen@gmail.com</a>
                        </li>
                        <li>
                            <i class="icon icofont-google-map"></i>
                            <span class="">Avenida de Madrid Nº90, Jaén</span>
                        </li>
                    </ul>
                </div>

            </div>
        </aside>
	 <!--== End: Header Top ==-->
</header>