@import "./01-helpers/index";


.sidebar{
    background-color: $secondary;
    .logo-compact i{
        color: $primary;
    }
}

.menu-icon{
    color: $primary;
    &::before{
        color: $primary;
    }
}

.content-top{
    background-color: $secondary;
    .content-search{
        color: black;
        .form-group{
            .content-search-label{
                border-radius: 5px 5px 5px 5px;
            }
            .form-widget{

                i{
        
                    color: black;
                    margin-right: 1%;
        
                }
        
            }
        } 

    }

    .user-name{
        color: black;
    }
}
